@media (max-width:1150px) {
    
    .project-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card{
        width: 300px;
        height: 420px;
    }

    .project-img img{
        width: 300px;
    }

    .project-content{
        font-size: .67rem;
    }

    .contact{
        flex-direction: column;
        gap: 0;
    }

    .skill{
        display: flex;
        align-items: end;
    }

}


@media (max-width:800px) {
    
    .home-content{
        gap: 2rem;
    }


    /* --------------------------------------PROJECT------------------------------------- */
    .project-list{
        display: none;
    }
 
    .project-card{
        width: 400pxpx;
    }

    .sideshow{
        margin-top: 5rem;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .arrow{
        cursor: pointer;
    }

    .arrow img{
        height:30px ;
        width: 30px;
    }

    .frame{
        /* border: .5px solid grey; */
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
        height: 490px;
        width: 400px;
        overflow:hidden;
        border-top-left-radius:2rem ;
        border-top-right-radius:2rem ;
        border-radius: 2rem;
    }

   


    .pro-img{
        /* border: .5px solid gray; */
        width: 400px;
        border-bottom: 1px solid rgb(204, 198, 198);

        border-top-left-radius:2rem ;
        border-top-right-radius:2rem ;
        

    }

    .pro-link ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 5rem;
        /* flex-direction: column; */
        justify-content: space-between;
    }

    .pro-link ul li{
        display: flex;
        gap: 1rem;
    }

    .pro-svg{
        justify-content: start;
    }

    .pro-describe{
        font-size: 1rem;
    }

    .slider{
        display: flex;
        transition: 1s;
    }
    
}



/* --------------------------------------450px------------------------------------ */



@media (max-width:450px) {

    header{
        display: none;
    }

    .home-content{
        height: 17rem;
        display: flex;
        flex-direction: column-reverse;
        align-items:center ;
    }

    .aboutMe {
        align-items: start;
    }

    .aboutMe p{
        margin-right: 1.2rem;
        text-align: justify;
    }

    .content{
        margin-left: 1rem;
        
    }

    .content h1{
        font-size: 1.8rem;

    }


    .education-list ul li{
        display: flex;
        flex-direction: column;
    }

    .left h5 , .right p{
        font-size: 1rem;
    }

    .right{
        display: flex;
        gap: 1.2rem;
    }

    .college p {
        font-size: .8rem;

    }

    .arrange{
        
        gap: .5rem;
        margin-left: 1rem;
    }

    .arrange img{
        height: 9px;
        width: 9px;
    }

    .arrange p{
        font-size: .8rem;
    }






    .tech-icons ul {
        padding: 0;
        display: grid;
        grid-template-columns:repeat(3,100px) ;
        grid-template-rows: auto;
        grid-gap: .5rem;
        justify-content: center;
      }

    .tech-icons ul li img{
        height: 30px;
        width: 30px;
    }

    .tech-icons ul li p{
        font-size: .8rem;
    }

    




      
    .frame{
        
        height: 510px;
        width: 300px;

    }

   


    .pro-img{
        /* border: .5px solid gray; */
        width: 300px;
        height: 160px;

        

    }

    .email h1{
        font-size: 1.3rem;
    }

    .detail{
        display: flex;
        flex-direction: column;
    }

    .contact p,a{
        font-size: .7rem;
    }

    .skill{
        padding-right :1rem ;
    }

    .description{
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}